<% if user_signed_in? %>
<%= render("jobs/joblists") %>
<% else %>
<%= render("jobs/job_preview") %>
<% end %>

<!-- Back to top button -->
<a id="scroll-up" href="#">
  <i class="ti-angle-up"></i>
</a>
<!-- END Back to top button -->


