<!-- Page header -->
  <section class="container page-name">
    <h2 class="text-center">Add a new job</h2>
    <%= render :partial => 'form' %>
  </section>
     <!-- END Page header -->
 <!-- END Main container -->
 <!-- Back to top button -->
<a id="scroll-up" href="#">
  <i class="ti-angle-up"></i>
</a>
