<!-- Page header -->
<section class="container page-name">
  <h2 class="text-center">Create Your Company</h2>
  <%= render "companies/form" %>
</section>

<!-- END Page header -->
<!-- END Main container -->
<!-- Back to top button -->
<a id="scroll-up" href="#">
  <i class="ti-angle-up"></i>
</a>
